[submodule "apps/OpenCLRunner/app/src/main/cpp/libopencl-stub"]
	path = apps/OpenCLRunner/app/src/main/cpp/libopencl-stub
	url = https://github.com/echuraev/libopencl-stub.git
[submodule "apps/OpenCLCppRunner/libopencl-stub"]
	path = apps/OpenCLCppRunner/libopencl-stub
	url = https://github.com/echuraev/libopencl-stub.git
